* {
    margin: 10;
    padding: 5;
}
.header01 h1{
    font-size: 26px;
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav01{
    align-items: right;
    font-family: 'Courier New', Courier, monospace;
    float: right;
    padding: 0 10;

}
ul.menu{
    display: flex;
    list-style-type: none;
}
ul.menu a{
    margin: 0 15px;
    padding: 5px 10px;
    text-decoration: none; 
    color: violet;
    
     
}
.sec01 h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    
}

button{
  border: none;
  color: white;
  background-color: darkmagenta;
  padding: 10px;
}

img{
    border-radius: 110px;
    float: right;
}
ul.C{
    display: flex;
    list-style-type: none;
}
.C a{
    margin: 0 15px;
    padding: 5px 10px;
    text-decoration: none; 
    color: violet;
    
}
body{
    background-color: bisque;
}